<button type="button" name="button" {{action 'house'}}>Upcomign House Bills</button>
<button type="button" name="button" {{action 'senate'}}>Upcoming Senate Bills</button>
<button type="button" name="button" {{action 'recent'}}>Recent Bills</button>

{{outlet}}
