
<ul class="list-unstyled">
  {{#each houseBill in model}}

  <li><span class="title">{{houseBill.bill_id}}</span></li>
  <li><span class="muted">{{houseBill.description}}</span></li>


  {{/each}}
</ul>
